.card{
			display: flex;
			flex-direction: column;
		}
		.card>*{
			width: 20.3rem;
			flex: 1;

			

		}
		@media(min-width: 750px){
			.card{
				flex-direction: row;
			}
		}
		img:hover{
			transform: scale(1.03);
			 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			 transition: all .5s ease-in-out;
		}